<div>
    <div class="row">
        <div class="col">
            <mat-card *ngFor="let reser of reserva">
                <mat-card-content>
                    <div class="row">
                        <div class="col-4">
                            <img src="{{reser.img}}">
                        </div>
                        <div class="col">
                            <p> {{reser.name}} </p>
                            <p> {{reser.type | titlecase}} </p>
                            <p> {{reser.price}} </p>
                            <p> Cantidad: {{reser.amount}}</p>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>