<div class="container">
    <div class="row">
        <div class="image">
            <img src="{{img}}">
        </div>
    </div>
    <div class="row">
        <h2>{{name}}</h2>
        <h4>{{price}}</h4>
        <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, iusto alias. At sit, in id eveniet ut ab suscipit iure placeat quas nihil incidunt a voluptates! Non fugiat vel aut!</p> -->
    </div>
    <div class="row">
        <div class="col">
            <button mat-button routerLink="/home">Volver</button>
          </div>
          <div class="col">
            <button mat-button>Añadir a favoritos</button>
        </div>
    </div>
    <div class="row">
        <button mat-button>Añadir a reservación</button>
    </div>
</div>