.content{
    padding: 15px;
    height: 100%;
}

.toolbar-text{
    margin-top: 5px;
}

mat-toolbar{
    height: max-content;
}

.date {
    font-size: small;
}

h4 {
    margin-top: 5px;
}

.r2 {
    /* background-color: aqua; */
    margin-top: 20px;
}
