mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100% !important;
}

mat-sidenav{
    width: 250px;
    padding: 20px;
    background-color: #0F123F;
}

img{
    width: 195px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.color-white{
    color: white;
}

.color-white-text{
    color: white;
    font-size:large
}

.content-sinav{
    max-width: max-content;
}

.mat-button{
    width: 220px;
    text-align: start;
}

.row{
    margin-top: 10px;
}
