<mat-sidenav-container fullscreen>
    <mat-sidenav #start [mode]="'over'" fixedInViewport="true">
      <div class="content-sinav" fxLayout="row" fxLayoutAlign="space-between">
        <div fxLayout="column">
          <h1 class="name-title">Restaurant App</h1>
          <div class="row">
            <button mat-button routerLink="/home">
              <mat-icon><span class="material-icons-outlined">
                store
                </span></mat-icon> Menú
            </button>
          </div>
          <div class="row">
            <button routerLink="/favorites" mat-button>
              <mat-icon><span class="material-icons-outlined">
                favorite_border
                </span></mat-icon> Mis favoritos
            </button>
          </div>
          <div class="row">
            <button mat-button routerLink="/reservations">
              <mat-icon><span class="material-icons-outlined">
                today
                </span></mat-icon> Reservaciones
            </button>
          </div>
          <div class="row">
            <button mat-button routerLink="/auth/login">
              <mat-icon><span class="material-icons-outlined">
                login
                </span></mat-icon> Iniciar sesión
            </button>
          </div>
        </div>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar>
        <button mat-icon-button (click)="start.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
