<div class="main row">
    <div class="col-8 column-1">
        <div class="row">
            <h1>Nombre restaurante</h1>
            <p> {{ today | date : 'fullDate'}} </p>
        </div>
        <div class="row">
            <mat-tab-group mat-align-tabs="start">
                <mat-tab label={{tab}} *ngFor="let tab of categories">
                    <h2>{{ tab }}</h2>
                    <div class="menu">
                        <app-menu></app-menu>
                    </div>
                </mat-tab>
              </mat-tab-group>              
        </div>
    </div>
    <div class="col column-2">
        <h1>Aqui</h1>
    </div>
</div>
