mat-card {
  max-width: 200px;
}
  
img{
  height: 120px;
  width: 120px;
  border-radius: 100%;
}

mat-card{
  border: 1px solid rgb(214, 214, 214) !important;
}

mat-card-content{
  text-align: center;
  padding: 10px;
}