<mat-sidenav-container>
    <mat-sidenav #start [mode]="'over'">
      <div fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="600%">
        <div fxLayout="column" fxLayoutGap="25px">
          <div class="row">
            <a routerLink="/home"><button mat-button>
              <mat-icon>home</mat-icon> Inicio
            </button></a>
          </div>
          <div class="row">
            <a routerLink="/dashboard"><button mat-button>
              <mat-icon>dashboard</mat-icon> Dash
            </button></a>
          </div>
          <div class="row">
            <a routerLink="/messages"><button mat-button>
              <mat-icon>mail_outline</mat-icon> Mensajes
            </button></a>
          </div>
          <div class="row">
            <a routerLink="/settings"><button mat-button>
              <mat-icon>settings</mat-icon> Ajustes
            </button></a>
          </div>
        </div>
        <div>
          <button mat-button>
            <mat-icon>favorite</mat-icon>
          </button>
        </div>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar>
        <button mat-icon-button (click)="start.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  