<mat-toolbar>
    <div class="row toolbar-text">
        <div class="row">
            <div class="col">
                <h4>Menú</h4>
            </div>
            <div class="col">
                <p class="date">{{ now | date:'fullDate'}}</p>
            </div>
        </div>
    </div>
</mat-toolbar>
<div class="content">
    <mat-tab-group mat-align-tabs="start">
        <mat-tab label="{{tab | titlecase}}" *ngFor="let tab of categories">
            <div class="content-tab">
                <h2>{{ tab | titlecase }}</h2>
                <div class="menu">
                    <app-tarjet-menu [type]="tab"></app-tarjet-menu>
                </div>
            </div>
        </mat-tab>
      </mat-tab-group>
</div>