<div class="content">
    <h1>Mis favoritos</h1>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 card-favorite" *ngFor="let food of favorites">
            <mat-card>
                <mat-card-content>
                    <div class="row">
                        <div class="col-4">
                            <img src="{{ food.img }}">
                        </div>
                        <div class="col info-favorite">
                            <div class="more">
                                    <button mat-icon-button [matMenuTriggerFor]="menu" class="button-menu">
                                        <mat-icon class="icon-more">more_vert</mat-icon>
                                    </button>
                            </div>
                            <p> {{ food.name }} </p>
                            <p> $ {{ food.rate }} </p>
                        </div>
                    </div>

                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                            <mat-icon>delete</mat-icon>
                            <span>Eliminar</span>
                        </button>
                    </mat-menu>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>