  .main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
    flex-shrink: 0;
  }
  
  .content {
    width: 100%;
    height: 100vh;
  }

  

