mat-card {
    width: 70%;
    text-align: center;
    opacity: 90%;
}

.login{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100vh;
   background-image: url('../../../assets/login.jpg');
   background-size: cover;
}
  
mat-form-field {
    display: block;
    align-items: center;
}