<mat-sidenav-container fullscreen>
    <mat-sidenav #start [mode]="'over'" fixedInViewport="true">
      <div class="content-sinav" fxLayout="row" fxLayoutAlign="space-between">
        <div fxLayout="column">
          <div class="img-logo">
            <img src="../../../assets/logo.svg">
          </div>
          <div class="row">
            <button mat-button routerLink="/home">
              <div class="row">
                <div class="col-3">
                  <mat-icon class="color-white"><span class="material-icons-outlined">
                      store
                    </span></mat-icon>
                </div>
                <div class="col">
                  <p class="color-white-text">Menú</p>
                </div>
              </div>
            </button>
          </div>
          <div class="row">
            <button routerLink="/favorites" mat-button>
              <div class="row">
                <div class="col-3">
                  <mat-icon class="color-white"><span class="material-icons-outlined">
                      favorite_border
                    </span></mat-icon>
                </div>
                <div class="col">
                  <p class="color-white-text">Mis favoritos</p>
                </div>
              </div>
            </button>
          </div>
          <div class="row">
            <button mat-button routerLink="/reservations">
              <div class="row">
                <div class="col-3">
                  <mat-icon class="color-white"><span class="material-icons-outlined">
                      today
                    </span></mat-icon>
                </div>
                <div class="col">
                  <p class="color-white-text">Reservaciones</p>
                </div>
              </div>
            </button>
          </div>
          <div class="row">
            <button mat-button routerLink="/auth/login">
              <div class="row">
                <div class="col-3">
                  <mat-icon class="color-white-text"><span class="material-icons-outlined">
                      login
                    </span></mat-icon>
                </div>
                <div class="col">
                  <p class="color-white-text">Cerrar sesión</p>
                </div>
              </div>
            </button>
          </div>
        </div>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar>
        <button mat-icon-button (click)="start.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>