.example-stepper {
  margin-top: 8px;
  height: 100%;
}

.mat-form-field {
  margin-top: 16px;
}

.title-text{
  padding: 15px;
}

.button-more{
  margin-top: 10px;
  margin-bottom: 10px;
}

.mat-raised-button{
  display: flex;
  align-self: flex-end;
}

.button-two{
  padding-top: 20px;
}