<div class="select-dish">
    <h1>Selecciona platos</h1>

    <section class="example-section" [formGroup]="toppings">
        <div class="row">
            <div *ngFor="let food of entradas">
                <div class="col-12 col-xs-12 col-sm-6 col-md-6 col-lg-4 columnas">
                    <mat-checkbox></mat-checkbox>
                    <mat-card>
                        <mat-card-content>
                            <div class="row">
                                <div class="col-4">
                                    <img src="{{food.img}}">
                                </div>
                                <div class="col">
                                    <p> {{food.name}} </p>
                                    <p> {{food.type | titlecase}} </p>
                                    <p> {{food.price}} </p>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>

                </div>
            </div>
        </div>
    </section>

    <!-- <section class="example-section" [formGroup]="toppings">
        <h4>You chose:</h4>
        {{toppings.value | json}}
      </section> -->

    <div class="back-food">
        <div class="button-back">
            <button mat-raised-button color="primary" routerLink="/user/reservations/new-reservation">Cancelar</button>
        </div>
        <div class="button-save">
            <button mat-raised-button color="primary" [routerLink]="['/user/reservations/new-reservation']">Guardar</button>
        </div>
    </div>
</div>