.select-dish{
    padding: 15px;
}

.back-food{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
}

.example-section {
    margin: 12px 0;
  }

  img{
    height: 90px;
    width: 90px;
    border-radius: 100%;
}

.col-4{
    display: flex;
    justify-content: center;
}

mat-card{
    margin: 10px;
    width: 100%;
}

.columnas{
    display: flex;
    width: 100% !important;
    align-items: center;
}

.button-back{
    margin: 5px;
}

.button-save{
    margin: 5px;
}