<!-- <mat-grid-list cols="2" rowHeight="2:2.5">
  <mat-grid-tile *ngFor="let food of menu">
    <mat-card>
      <mat-card-content>
        <img src="{{ food.img }}">
        <p> {{ food.nombre }} </p>
        <p> $ {{ food.precio }} </p>
        <p> {{ food.disponibilidad }} platos disponibles </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list> -->

<div class="container">
  <div class="row">
    <div class="col" *ngFor="let food of menu">
      <mat-card>
        <mat-card-content>
          <img src="{{ food.img }}">
          <p> {{ food.name }} </p>
          <p> $ {{ food.rate }} </p>
          <p> {{ food.disponibility }} platos disponibles </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>