<mat-sidenav-container autosize>
  <mat-sidenav #sidenav mode="side" opened="true">
    <mat-nav-list>

      <mat-list-item class="img-icon">
        <img src="../../../../assets/logo.svg" class="logo-completo" *ngIf="isExpanded" (click)="isExpanded = !isExpanded" [ngClass]="{'rotated': isExpanded}">
        <img src="../../../../assets/RA.svg" class="logo-ra" *ngIf="!isExpanded" (click)="isExpanded = !isExpanded" [ngClass]="{'rotated': isExpanded}">
        <mat-icon mat-list-icon class="chevron-button sidenav-button icon-color-white" (click)="isExpanded = !isExpanded" [ngClass]="{'rotated': isExpanded}">chevron_right</mat-icon>
      </mat-list-item>

      <mat-list-item [routerLink]="'dash'">
        <mat-icon mat-list-icon class="icon-color-white">home</mat-icon>
        <span *ngIf="isExpanded" class="text-white">Dashboard</span>
      </mat-list-item>

      <mat-list-item [routerLink]="'menu'">
        <mat-icon mat-list-icon class="icon-color-white">important_devices</mat-icon>
        <span *ngIf="isExpanded" class="text-white">Menu</span>
      </mat-list-item>

      <mat-list-item [routerLink]="'orders'">
        <mat-icon mat-list-icon class="icon-color-white">supervisor_account</mat-icon>
        <span *ngIf="isExpanded" class="text-white">Pedidos</span>
      </mat-list-item>

      <mat-list-item [routerLink]="'auth/login'">
        <mat-icon mat-list-icon class="icon-color-white">supervisor_account</mat-icon>
        <span *ngIf="isExpanded" class="text-white">Cerrar sesión</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <div class="content">
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>