.content{
    padding: 15px;
}

.add-reservation{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
}

.number-date{
    align-items: center;
}

.card-reservation{
    display: flex;
    justify-content: center;
}

mat-card{
    width: 90%;
    margin: 10px;
}

p{
    margin: 0%;
}

/* .button-add{
    display: flex;
    justify-content: center;
    position: absolute;
} */